name: Build and Release Just A Sample

on:
  workflow_dispatch:

jobs:
  get-version:
    runs-on: ubuntu-latest
    outputs:
      app_version: ${{ steps.extract.outputs.VERSION }}
    steps:
      - uses: actions/checkout@v4

      - id: extract
        run: |
          VERSION=$(grep -oP '(?<=set\(APP_VERSION )[0-9.]+' CMakeLists.txt)
          echo "VERSION=$VERSION" >> $GITHUB_OUTPUT

  build-windows:
    needs: get-version
    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Cache .deps and build directory
        uses: actions/cache@v5.0.3
        with:
          path: |
            out/build
            .deps
          key: ${{ runner.os }}-build-${{ hashFiles('CMakeLists.txt', '**/*.cmake') }}
          restore-keys: ${{ runner.os }}-build-

      - name: Configure CMake
        run: cmake --preset windows

      - name: Build Release
        run: cmake --build --preset release-windows

      - name: Restore signing certificate
        shell: pwsh
        run: |
          $cert = "${{ secrets.WINDOWS_PFX_BASE64 }}"
          [IO.File]::WriteAllBytes("cert.pfx",[Convert]::FromBase64String($cert))

      - name: Sign VST3 binary
        run: |
          signtool sign ^
          /f cert.pfx ^
          /p "${{ secrets.WINDOWS_PFX_PASSWORD }}" ^
          /fd SHA256 ^
          /tr https://timestamp.digicert.com ^
          /td SHA256 ^
          "out\build\windows\JustASample_artefacts\Release\VST3\Just a Sample.vst3"

      - name: Install 7-Zip
        run: choco install 7zip -y

      - name: Zip Windows VST3
        run: |
          cd "out\build\windows\JustASample_artefacts\Release\VST3"
          7z a -tzip "${{ github.workspace }}\JAS.Windows.VST3.v${{ needs.get-version.outputs.app_version }}.zip" "Just a Sample.vst3"

      - name: Build Windows Installer
        run: iscc "Releases\Windows\installer_setup.iss" /DMyAppVersion="${{ needs.get-version.outputs.app_version }}" /DSourceDir="${{ github.workspace }}

      - name: Sign installer
        run: |
          signtool sign ^
            /f cert.pfx ^
            /p "${{ secrets.WINDOWS_PFX_PASSWORD }}" ^
            /fd SHA256 ^
            /tr https://timestamp.digicert.com ^
            /td SHA256 ^
            "Releases\Windows\Output\Install Just a Sample.exe"

      - name: Verify installer signature
        run: |
          signtool verify ^
            /pa ^
            /v ^
            "Releases\Windows\Output\Install Just a Sample.exe"

      - name: Cleanup certificate
        run: del cert.pfx

      - name: Zip Windows Installer
        run: 7z a -tzip "Install.Just.a.Sample.Windows.v${{ needs.get-version.outputs.app_version }}.zip" "Releases\Windows\Output\Install Just a Sample.exe"

      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: windows-artifacts
          path: |
            JAS.Windows.VST3.v${{ needs.get-version.outputs.app_version }}.zip
            Install.Just.a.Sample.Windows.v${{ needs.get-version.outputs.app_version }}.zip

  build-linux:
    needs: get-version
    runs-on: ubuntu-22.04

    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Cache .deps and build directory
        uses: actions/cache@v5.0.3
        with:
          path: |
            out/build
            .deps
          key: ${{ runner.os }}-build-${{ hashFiles('CMakeLists.txt', '**/*.cmake') }}
          restore-keys: ${{ runner.os }}-build-

      - name: Install JUCE Linux Dependencies
        run: chmod +x Releases/Linux/install-dependencies.sh && ./Releases/Linux/install-dependencies.sh

      - name: Configure CMake
        run: cmake --preset linux

      - name: Build Release
        run: cmake --build --preset release-linux

      - name: Zip Linux VST3
        run: |
          cd "out/build/linux/JustASample_artefacts/VST3"
          zip -r "${{ github.workspace }}/JAS.Linux.VST3.v${{ needs.get-version.outputs.app_version }}.zip" "Just a Sample.vst3"

      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: linux-artifacts
          path: JAS.Linux.VST3.v${{ needs.get-version.outputs.app_version }}.zip

  publish-release:
    needs: [get-version, build-windows, build-linux]
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Download all artifacts
        uses: actions/download-artifact@v4
        with:
          path: artifacts
          merge-multiple: true

      - name: Create or Update Release
        uses: ncipollo/release-action@v1.20.0
        with:
          tag: "v${{ needs.get-version.outputs.app_version }}"
          name: "Just A Sample v${{ needs.get-version.outputs.app_version }}"
          artifacts: "artifacts/*"
          allowUpdates: true
          replacesArtifacts: true
          makeLatest: true
          draft: true
          omitBodyDuringUpdate: true