name: Build and Release Just A Sample

on:
  workflow_dispatch:

jobs:
  get-version:
    runs-on: ubuntu-latest
    outputs:
      app_version: ${{ steps.extract.outputs.VERSION }}
    steps:
      - uses: actions/checkout@v4

      - id: extract
        run: |
          VERSION=$(grep -oP '(?<=set\(APP_VERSION )[0-9.]+' CMakeLists.txt)
          echo "VERSION=$VERSION" >> $GITHUB_OUTPUT

  build-windows:
    needs: get-version
    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Cache submodules
        uses: actions/cache@v5.0.3
        with:
          path: .git/modules
          key: ${{ runner.os }}-submodules-${{ hashFiles('.gitmodules') }}
          restore-keys: ${{ runner.os }}-submodules-

      - name: Cache build directory
        uses: actions/cache@v5.0.3
        with:
          path: out/build
          key: ${{ runner.os }}-build-${{ hashFiles('CMakeLists.txt', '**/*.cmake') }}
          restore-keys: ${{ runner.os }}-build-

      - name: Cache choco packages
        uses: actions/cache@v4
        with:
          path: C:\ProgramData\chocolatey\lib
          key: ${{ runner.os }}-choco

      - name: Configure CMake
        run: cmake --preset windows

      - name: Build Release
        run: cmake --build --preset release-windows

      - name: Install 7-Zip
        run: choco install 7zip -y

      - name: Zip Windows VST3
        run: 7z a -tzip "JAS.Windows.VST3.v${{ needs.get-version.outputs.app_version }}.zip" "out\build\windows\JustASample_artefacts\Release\VST3\Just a Sample.vst3"

      - name: Build Windows Installer
        run: iscc "Releases\Windows\installer_setup.iss" /DMyAppVersion="${{ needs.get-version.outputs.app_version }}" /DSourceDir="${{ github.workspace }}"

      - name: Zip Windows Installer
        run: 7z a -tzip "Install.Just.a.Sample.Windows.v${{ needs.get-version.outputs.app_version }}.zip" "Releases\Windows\Output\Install Just a Sample.exe"

      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: windows-artifacts
          path: |
            JAS.Windows.VST3.v${{ needs.get-version.outputs.app_version }}.zip
            Install.Just.a.Sample.Windows.v${{ needs.get-version.outputs.app_version }}.zip

  build-linux:
    needs: get-version
    runs-on: ubuntu-22.04

    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Cache submodules
        uses: actions/cache@v4
        with:
          path: .git/modules
          key: ${{ runner.os }}-submodules-${{ hashFiles('.gitmodules') }}
          restore-keys: ${{ runner.os }}-submodules-

      - name: Cache build directory
        uses: actions/cache@v4
        with:
          path: out/build
          key: ${{ runner.os }}-build-${{ hashFiles('CMakeLists.txt', '**/*.cmake') }}
          restore-keys: ${{ runner.os }}-build-

      - name: Install ccache
        run: sudo apt-get update && sudo apt-get install -y ccache

      - name: Cache ccache
        uses: actions/cache@v5.0.3
        with:
          path: ~/.ccache
          key: ${{ runner.os }}-ccache-${{ hashFiles('**/*.cpp','**/*.h') }}
          restore-keys: ${{ runner.os }}-ccache-

      - name: Install JUCE Linux Dependencies
        run: chmod +x Releases/Linux/install-dependencies.sh && ./Releases/Linux/install-dependencies.sh

      - name: Configure CMake
        run: cmake -DCMAKE_CXX_COMPILER_LAUNCHER=ccache --preset linux

      - name: Build Release
        run: cmake --build --preset release-linux

      - name: Zip Linux VST3
        run: zip -r ${{ github.workspace }}/JAS.Linux.VST3.v${{ needs.get-version.outputs.app_version }}.zip "out/build/linux/JustASample_artefacts/VST3/Just a Sample.vst3"

      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: linux-artifacts
          path: JAS.Linux.VST3.v${{ needs.get-version.outputs.app_version }}.zip

  publish-release:
    needs: [get-version, build-windows, build-linux]
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Download all artifacts
        uses: actions/download-artifact@v4
        with:
          path: artifacts
          merge-multiple: true

      - name: Create or Update Release
        uses: ncipollo/release-action@v1.20.0
        with:
          tag: "v${{ needs.get-version.outputs.app_version }}"
          name: "Just A Sample v${{ needs.get-version.outputs.app_version }}"
          artifacts: "artifacts/*"
          allowUpdates: true
          replacesArtifacts: true
          makeLatest: true
          draft: true
          omitBodyDuringUpdate: true